<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamfactory.hotelmanager" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="TDcLUrUddnrVNzAfcnbH9UnLOBsxR31C" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="登录"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="注册"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".activity.GetAnsActivity"
            android:label="找回密码"
            android:parentActivityName=".activity.HomeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".activity.RestorePwActivity"
            android:label="重置密码"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".activity.UserInfoActivity"
            android:label="个人信息"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="HotelManager"
            android:launchMode="singleTop"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="关于我们" >
        </activity>
        <activity
            android:name=".activity.QueryRoomActivity"
            android:label="@string/title_activity_query_room"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".activity.QueryRoomResult" >
        </activity>
        <activity android:name=".activity.RoomDetail" >
        </activity>
        <activity android:name=".activity.IndentActivity" >
        </activity>
        <activity android:name=".activity.PointActivity" >
        </activity>
        <activity android:name=".activity.MyRoomActivity" >
        </activity>
        <activity android:name=".activity.CommentActivity" >
        </activity>
        <activity android:name=".activity.RecommendActivity" >
        </activity>
        <activity android:name=".activity.RoomGridActivity" >
        </activity>
        <activity android:name=".activity.NearbyActivity" >
        </activity>
        <activity android:name=".activity.AnswerActivity" >
        </activity>
    </application>

</manifest>
